.str-chat__header-livestream {
    background-color: #6DCFD9 !important;
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  
  .str-chat__list {
    background-color: #F5F5F5 !important;
  }
  