.App {
    text-align: center;
  }

  .Header-settings {
      background-color: #6DCFD9;
      min-height: 40px;
      width: 100%;
      height: 90px;
      margin-bottom: 1000px;
      font-size: 30px;
      color: white;
      font-weight: light bold;
      margin: 0;
      padding: 0;
      line-height: 90px;
  }

  

.Settings-container{
  height: 360px;
  width:100%;
  overflow: scroll;
}

.General-title{
    float: left;
    font-size: 10px;
    color: #6DCFD9;
}
.Info-title{
    float: left;
    font-size: 10px;
    color: #6DCFD9;
}

.list-item-settings-name{
    height: 20px;
    width: 300px;
    background-color: aqua;
    margin: 5px;

}
 
  .App-link {
    color: #61dafb;
  }
  