.user-profile {
  text-align: center;
  font-size: 15px;
}

.profile-photo {
  position: relative;
  margin-top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 0%;
  z-index: 999;
  background-color: transparent;
  color: transparent;
}

.user-text {
  margin-top: 10px;
  font-size: 10px;
  color: #2699FB;
  margin-bottom: 10px;
}

.email-text {
  margin-top: 10px;
  font-size: 10px;
  color: #2699FB;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #CEEAF7;
  color: darkblue;
  border-radius: 5px;
}

.details {
  margin-top: 20px;
  margin-left:15px;
  text-align: left;
}

.detail-title {
  margin-top: 10px;
  font-weight: bold;
}

.about-me-text {
  margin-top: 0px;
}

